/* custom styles */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.container {
  max-width: 400px;
  text-align: center;
}



/* Text Align */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}